<div class="main-content" xmlns:date="http://www.w3.org/1999/xhtml">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Profil</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="alert alert-danger" [hidden]="!isMessageSet()"><label style="color: black">{{message}}</label>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Ime</label>
                                        <input type="text" class="form-control" required placeholder="Ime"
                                               [value]="ime" (input)="ime = $event.target.value">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Prezime</label>
                                        <input type="text" class="form-control" required placeholder="Prezime"
                                               [value]="prezime" (input)="prezime = $event.target.value">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" required placeholder="Email"
                                               [value]="email" (input)="email = $event.target.value">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Sifra</label>
                                        <input type="password" class="form-control" required placeholder="Password"
                                               [value]="password" (input)="password = $event.target.value">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Ponovljena sifra</label>
                                        <input type="password" class="form-control" required placeholder="Password"
                                               [value]="password2" (input)="password2 = $event.target.value">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Raspored konsultacija</label>
                                        <input list="officeHours" class="form-control">
                                        <datalist id="officeHours" tabindex="1">
                                            <option *ngFor="let o of officeHoursList"
                                                    value="{{o.beginTime | date:'H:mm dd. MMM'}} - {{o.endTime | date:'H:mm dd. MMM'}}"></option>
                                        </datalist>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Pocetak konsultacija</label>
                                        <input type="datetime-local" required class="form-control"
                                               placeholder="Novi datum - pocetak"
                                               [value]="datumPocetak | date:'yyyy-MM-ddTHH:mm:ss'"
                                               (input)="datumPocetak = $event.target.value"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Kraj konsultacija</label>
                                        <input type="datetime-local" required class="form-control"
                                               placeholder="Novi datum - kraj"
                                               [value]="datumKraj | date:'yyyy-MM-ddTHH:mm:ss'"
                                               (input)="datumKraj = $event.target.value"></div>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-accept btn-fill" (click)="addOfficeHour()">Dodaj novi termin
                            </button>
                            <br><br>
                            <button type="submit" class="btn btn-success btn-fill" (click)="saveChanges()">Sacuvaj promene
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
